*{
    box-sizing: border-box;
    border: 1px solid greenyellow;
}

html, body{

    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* mettendolo al centro ci auterà quando ci si resiza alla versione mobile */
}

.page{
    max-width: 800px;
}